<h1 class= "text-center">DEV Dashboard</h1>

<div class="d-grid gap-2 p-5">
  <%= link_to 'Projects', developer_dashboard_index_path, class: 'btn btn-outline-primary' %>
  <%= link_to 'Progress', work_progress_bugs_path, class: 'btn btn-outline-success' %>
</div>